.navbar-brand {
    font-style: bold;
}

.container-fluid1 {
    position: relative;
    text-align: center;
    color: whitesmoke;
  }

.bottom-center {
    position: absolute;
    bottom: 49px;
    left: 31.3%;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

#butt1 {
    color: blue;
}

#butt2 {
    color: whitesmoke;
}

#projectsHead {
    text-align: center;
}

#projectOne {
    border: none;
}

